RewriteEngine on
RewriteCond $1 !^(\SkinOverPlaySeekCaption\.swf|SkinOverPlaySeekMute\.swf|index\.php|assets|images|robots\.txt|sitemap\.xml|favicon\.ico)
RewriteRule ^(.*)$ /actions/act_evt/web_mem/index.php?/$1 [L]